h1{
    font-family: Georgia;
    font-size: xx-large;
    font-weight: normal;
}

.credit{
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.tautan{
    font-family: Arial,Helvetica, sans-serif;
    font-size: 80%;
    text-decoration: none;
}

p.intro{
    font-family: 'Segoe UI';
    font-size: 1.5em;
}