body{
    background-color: #ffffff;
    color: #efefef;
}

#artikel-1{
    border: 1px solid #665544;
    background-color: #9b0202;
    padding: 20px;
}

h1{
    background-color: rgb();
    padding: 10px;
}

h2{
    background-color: rgba(100,100,90,0.5);
    padding: 10px;
}

/*hue - 0 sampai 360*/
/*saturasi - 0% sampai 100% */
/*lightness - 0% sampai 100% */
p.paragraf1{
    background-color: hsl(250,100%,50%);
    padding: 10px;
}

/*alpha - 0 sampai 1*/
p.paragraf2{
    padding: 10px;
    background-color: hsla(150,50%,50%,0.5);
}