.box1{
    height: 100px;
    width: 300px;
    background-color: #757b94;
}

.box1 p{
    height: 75%;
    width: 75%;
    background-color: #0844ff;
}

.box2{
    height: 200px;
    width: 400px;
    background-color: aqua;
}

.box2 h2{
    width: 50%;
    background-color: #665544;
}

.box2 p{
    width: 50%;
    background-color: darkgreen;
}

/*ukuran minimum dan maksimum dari box*/

td{
    background-color: #757b94;
}

td.deskripsi{
    min-width: 700px;
    max-width: 500px;
    background-color: orange;
}

/*overflow*/

h2,h3{
    font-family: Arial;
    color: #0844ff;
}

p.satu{
    height: 100px;
    width: 200px;
    overflow: hidden;
}

p.dua{
    height: 100px;
    width: 200px;
    overflow: scroll;
}