*{
    font-family: Arial, Helvetica, sans-serif;
}

.border-1{
    border: 2px solid brown;
    border-bottom-width: 4px;
}

#atas-solid{
    border-top-width: 4px;
    border-top-style: solid;
}

#kiri-double{
    border-color: aqua;
    border-left-width: 4px;
    border-left-style: double;
}

#bawah-dotted{
    border-color: rgb(255, 60, 0);
    border-bottom-width: 4px;
    border-bottom-style: dotted;
}


#kanan-dashed{
    border-color: rgb(255, 60, 0);
    border-right-width: 4px;
    border-right-style: dashed;
}

.border-2{
    border-color: darkgreen;
    border-style: solid;
    /* untuk atas-bawah dan kiri-kanan */
    border-width: 20px 5px;
}

.border-3{
    border-color: darkgreen;
    border-style: solid;
    /* untuk atas-bawah dan kiri-kanan */
    border-width: 20px 5px;
}

.border-4{
    border-color: darkgreen;
    border-style: solid;
    /* untuk atas-bawah dan kiri-kanan */
    border-width: 5px 10px 15px 20px;
}
